.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.addTask {
  height: 30vh;
  background-color: rgb(128, 125, 4);
  box-shadow: 0px 3px 8px #000000;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addTask input {
  font-size: 32px;
  border: none;
  box-shadow:  10px 15px 15px #000000 ;
}

.addTask button{
  font-size: 20px;
  padding: 7px;
  margin-left: 12px;
  font-weight: 600;
  border: none;
  border-radius: 10%;
}

.addTask button:hover{
  cursor: pointer;
  background:aliceblue;
  color: #f1540a;
  /* font-weight: 400; */
}

.list {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

.task {
  width: 500px;
  height: 50px;
  display: flex;
  margin: 15px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  box-shadow: 4px 4px 8px #000000;
}

.list :hover{
  scale: 1.05;
}

.task button {
  width: auto;
  height: 20px;
  margin-left: 5px;
  text-align: center;
}

/* .task .completeBtn{
  background-color: greenyellow;

} */

.task .completeBtn:hover{
  scale: 1;
  font-weight: 600;
}

.task .delBtn{
  border: none;
  background: red;
  color: #ffffff;
  border-radius: 20%;
}